Binary/
Elevation_data/
Geotiffs/
Masks/
Orthophotos/
OSM_data/
yOrtho4XP_Overlays
Previews/
tmp/
Tiles/
**/Ortho4XP.log
**/__pycache__
**/Thumbs.db
**/*.bak
.last_gui_params.txt
testing/
Sun-Valley-ttk-examples-master/
import tkinter as tk.py
from shapely.geometry import LineString.py
